<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemon website</title>
</head>

<body>
    {% if menu is not None %}
    {% for item in menu%}
    <p>{{item.name}}:{{item.price}}</p>
    {% endfor %}
    {% else %}
    <p>No items to display.</p>
    {% endif %}
</body>

</html>