{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    <!-- Step 14: Create for loop -->
    {% for item in menu %}
    <p>
        <!-- Step 14: Add DTL variable for name -->
        <a href="{% url 'menu_item' pk=item.pk %}">
            {{ item.name }}
        </a>
        <span class="menu-price">
            &dollar;{{item.price}}.00
            <!-- Step 14: Add DTL variable for price -->
        </span>
    </p>
    {% endfor %}
    <!-- Step 14: End or loop -->
</div>
<!--End col-->
{% endblock %}