<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon Restaurant</title>
</head>

<body>
    <h1>Welcome to little lemon</h1>
    {% if random_menu is not None %}
    <div>
        <span>{{random_menu.name}}: {{random_menu.description}}</span>
    </div>
    {% endif %}

    <span>{{error}}</span>
</body>

</html>