{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Add heading code -->
    <h1 style="color: #495E57">
        About Page
    </h1>
    <!-- Add paragraph code -->
    <p>
        {{about}}
    </p>

    <!-- Add image code -->
    <img src="{% static 'img/dessert.jpg' %}" alt="">

</body>

</html>