<!-- Add code to load static content-->
{% load static %}

<header>
    <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
    <ul>
        <li><a href="{% url 'template_app:home' %}">Home</a></li>
        <li><a href="{% url 'template_app:about' %}">About</a></li>
        <li><a href="{% url 'template_app:menu' %}">Menu</a></li>
        <li><a href="{% url 'template_app:book' %}">Book</a></li>
    </ul>
</nav>